<div class="container flex flex-col">
    <div class="form-control w-full max-w-xs">
        <label class="label">
          <span class="label-text">What peopel should call you?</span>
          <!-- <span class="label-text-alt">Top Right label</span> -->
        </label>
        <input type="text" [(ngModel)]="userName" required placeholder="Type here" class="input input-bordered w-full max-w-xs" />
        <label *ngIf="lat" class="label">
          <span class="label-text-alt">Lat: {{lat}}</span>
          <span class="label-text-alt">Lon: {{lon}}</span>
        </label>
      </div>
    <button class="centered-button btn btn-active btn-primary mt-4" (click)="getCoordinates()">Connect Me</button>

    <app-near-by-users></app-near-by-users>
</div>